<div class="content">

	<div class="why" id="why">

		<span class="icon">
			<i class="fas fa-percent"></i>
		</span>
		<h2>El E-Book es bueno porque:</h2>
		<br>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet tellus cras adipiscing enim eu. Vitae tempus quam pellentesque nec. Tristique nulla aliquet enim tortor at auctor urna nunc. Sed faucibus turpis in eu mi. Curabitur gravida arcu ac tortor dignissim convallis aenean. Id aliquet risus feugiat in. Quis blandit turpis cursus in hac habitasse platea dictumst. Vel eros donec ac odio tempor orci dapibus ultrices. In nisl nisi scelerisque eu ultrices vitae.
		</p>
	
	</div>

	<div class="pricing" id="price">

		<span class="icon">
			<i class="far fa-check-circle"></i>
		</span>
		<h2>Tiene un precio de:</h2>
		<br>
		<h1>0$</h1>
		<br>
		<p>más un 0% de descuento si lo descargas ya</p>

	</div>
	
	<div class="about" id="about">

		<span class="icon">
			<i class="fas fa-info-circle"></i>
		</span>
		<h2>Nos dedicamos a:</h2>
		<br>
		<p>
				<a routerLink="/thanks">nada</a>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet tellus cras adipiscing enim eu. Vitae tempus quam pellentesque nec. Tristique nulla aliquet enim tortor at auctor urna nunc. Sed faucibus turpis in eu mi. Curabitur gravida arcu ac tortor dignissim convallis aenean. Id aliquet risus feugiat in. Quis blandit turpis cursus in hac habitasse platea dictumst. Vel eros donec ac odio tempor orci dapibus ultrices. In nisl nisi scelerisque eu ultrices vitae.
		</p>

	</div>

	
</div>