<header>

	<nav class="menu">
		<h1 class="menu-title">{{ title }}</h1>

		<div class="menu-side">
			<li><a href="#">inicio</a></li>
			<li><a href="#why">¿Por qué comprarlo?</a></li>
			<li><a href="#price">Precio</a></li>
			<li><a href="#about">Acerca de</a></li>

			<span id="TriggerMenu"
			(click)="openMenu()"
			>menu1</span>

			<!-- <div class="menu-mobile">
				<li><a href="#">inicio</a></li>
				<li><a href="#">¿Por qué comprarlo?</a></li>
				<li><a href="#">Precio</a></li>
				<li><a href="#">Acerca de</a></li>
			</div> -->

		</div>
	</nav>

	<div class="header-content">
		<div class="header-text">
			Este es uno de los mejores E-Books invicibles
		</div>
		<div class="header-form">
			<form class="header-form--form" [formGroup]="myForm" (submit)="sendEmail($event)">
				<p class="header-form--text">
					Pon tus datos aquí para descargar el E-Book
				</p>
				<input type="text" placeholder="Nombre" formControlName="name">
				<input type="email" name="email" id="email" placeholder="Correo" 
					formControlName="email">
				<input type="submit" value="Descargar">
			</form>
		</div>

	</div>

</header>
