<header>

	<nav class="menu">
		<h1 class="menu-title">{{ title }}</h1>

		<div class="menu-side">
			<li><a href="#">inicio</a></li>
			<li><a href="#">¿Por qué comprarlo?</a></li>
			<li><a href="#">Precio</a></li>
			<li><a href="#">Acerca de</a></li>
		</div>
	</nav>

	<div class="header-content">

		<div class="header-text">
			Este es <br> uno de los <br> mejores <br> E-Books <br> invicibles
		</div>

		<div class="header-form">

			
			<form class="header-form--form" 
			[formGroup]="dataForm"
			(ngSubmit)="sendData()"
			>
				<p class="header-form--text">
					Pon tus datos aquí para descargar el E-Book
				</p>
				<input type="text" formControlName="name" placeholder="Nombre" required>
				<input type="email" formControlName="email" name="email" placeholder="Correo" required>
				<input type="submit" value="Descargar">
			</form>

		</div>

	</div>

</header>
