<footer>

	<div class="footer-all">

		<div class="footer-form">
			<form action="">
				<div class="form-text">
					<p >
						Pon tus datos aquí para descargar el E-Book
					</p>
				</div>
				<div class="form-inputs">
					<input type="text" placeholder="Nombre">
					<input type="email" name="email" id="email" placeholder="Correo">
					<input type="submit" value="Descargar">
				</div>
			</form>
		</div>

	</div>

	<div class="footer-bottom">
		
		<p class="text">
			Estamos en:
			Todos lados y ninguno
		</p>

		<p class="text-copy">
			LadingEbook 2019 &copy;
		</p>

	</div>

</footer>
