// variables

$PrimaryColor: #40798c;
$SecoundColor: #1f363c;

a{
	color: $PrimaryColor;
}

@mixin property-box{
	width: 98.9vw;
	height: 100vh;
}

@mixin flexbox-row {
	display: flex;
	flex-direction: row;
}

@mixin flexbox-col {
	display: flex;
	flex-direction: column;
}

header{
	@include property-box;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/o33eHLq.jpg');
	// background-size: cover;
	// background-blend-mode: saturation;

	nav.menu {
		background-color: $PrimaryColor;
		color: white;
		padding: 20px 40px;

		@include flexbox-row;
		justify-content: space-between;
		align-items: center;

		li{
			list-style-type: none;
			a{
				color: white;
				text-decoration: none;	
			}
		}

		.menu-side{
			@include flexbox-row;
			li{
				a{
					padding: 25px;
				}
				a:hover{
					background-color: $SecoundColor;
				}
			}
		}
		
	}

	.header-content{
		height: 89%;
		margin: 0 60px;

		display: flex;
		flex-direction: row;
		justify-content: center;

		.header-text{

			// border: solid;

			margin-top: 30px;
			color: white;
			font-size: 90px;
			width: 50vw;
			text-align: center;
		}
		
		.header-form{
			// border: solid;
			width: 50vw;
			display: flex;
			justify-content: center;
			align-items: center;

			form{
				padding: 30px;
				background-color: white;
				display: flex;
				flex-direction: column;
				// align-items: center;

				width: 300px;
				height: 350px;
				border-radius: 22px;

				p{
					margin: 0 25px;
					font-size: 22px;
					margin-bottom: 40px;
				}

				input{
					padding: 5px;
					margin: 0 25px;
					border: none;
					font-size: 28px;
					
					outline: none;

					margin-bottom: 40px;
					border-bottom: 3px solid $SecoundColor;
				}

				input[type="submit"]{
					padding: 10px;
					border-radius: 10px;
					border: none;
					color: white;
					background-color: $SecoundColor;
				}

			}
		}

	}

}
/* end header */

.content{
	font-family: 'Open Sans', sans-serif !important;
	text-align: center;

	@include flexbox-col;

	div{
		height: 110vh;

		@include flexbox-col;
		justify-content: center;
		padding: 0 150px;
	}

	.pricing{
		background-color: #1f353d;
		color: white;
	}

	span.icon{
		font-size: 150px;
	}

}

footer{
	@include property-box;
	background-image: url('https://i.imgur.com/Om5UaNg.jpg');
	// border: solid;
	width: 100%;
	
	.footer-all{
		// border: solid;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.footer-form{
		width: 50vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		form{
			padding: 30px;
			background-color: white;
			display: flex;
			flex-direction: column;
			// align-items: center;

			width: 740px;
			height: 130px;
			border-radius: 22px;

			.form-text{
				p{
					margin: 0 25px;
					font-size: 22px;
					margin-bottom: 40px;
				}
			}

			input{
				padding: 5px;
				margin: 0 18px;
				border: none;
				font-size: 20px;
				
				outline: none;

				margin-bottom: 10px;
				border-bottom: 3px solid $SecoundColor;
			}

			input[type="submit"]{
				padding: 15px 50px;
				border-radius: 10px;
				border: none;
				color: white;
				background-color: $SecoundColor;
				font-size: 17px;
			}

			input[type="submit"]:hover{
				cursor: pointer;
			}

		}
	}

	.footer-bottom{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		width: 90%;
		height: 200px;
		color: white;
		background-color: #40798c;
		padding: 40px 67px;

		p{
			// border: solid;
			text-align: center;
			width: 300px;
		}

		p.text {
			font-size: 50px;
		}	

	}

}