@import 'variables';

a{
	color: $primary-color;
}

@mixin box-values{
	width: 98.9vw;
	padding-bottom: 100px;	
}

@mixin flexbox-row {
	display: flex;
	flex-direction: row;
}

@mixin flexbox-col {
	display: flex;
	flex-direction: column;
}